/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  padding: 0 2rem;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.vendor-signup .inner-wrap {
  display: flex;
  padding: 20px;
  margin: 0;
}

.vendor-signup .inner-wrap .signup-img{
  background-image: url("../assets/signup-right-bg.png");
background-color: #cccccc;
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
border-radius: 20px;
}

.vendor-signup .inner-wrap .signup-img h3 {
  font-size: 27px;
}
.vendor-signup{
  background-image: url("../assets/signup-right-bg.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-color: #fff;
}
.vendor-signup .inner-wrap .top-heading {
  box-shadow: unset;
  padding: 40px 0;
}
.vendor-signup .inner-wrap .top-heading h3 {
  text-align: left;
}
.vendor-signup .inner-wrap .top-heading h3:after{
  left: unset;
  right: unset;
  margin: 5px 0 !important;
}
.vendor-signup .inner-wrap .top-heading h3 {
  text-align: left;
  font-size: 28px;
  font-weight: 600;
letter-spacing: 0.9px;
}


/* vendor b2b */


:root {
  --bg-lightness: 100%; /* Default background lightness */
  --light100: hsl(0, 0%, var(--bg-lightness)); /* Lightest background shade */
  --light200: hsl(0, 0%, calc(var(--bg-lightness) - 3%)); /* Lighter background shade (same as --bg-lightness) */
  --light300: hsl(0, 0%, calc(var(--bg-lightness) - 7%)); /* Light background shade */

 /* Setting a minimum lightness of 0 for dark colors */
 --dark100: hsl(0, 0%, calc(120% - var(--bg-lightness))); /* Lightest background shade */
 --dark200: hsl(0, 0%, calc(110% - var(--bg-lightness))); /* Lighter background shade (same as --bg-lightness) */
 --dark300: hsl(0, 0%, calc(100% - var(--bg-lightness))); /* Light background shade */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  font-family: Poppins, Montserrat, Helvetica, Verdana, sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-padding {
  @apply max-w-[1400px] px-4 m-auto ;
}



/*======================================*/
/* custom styles */

.bg-light100 {
  background-color: var(--light100);
}
.bg-light200 {
  background-color: var(--light200);
}
.bg-light300 {
  background-color: var(--light300);
}
.bg-hover300 {
  @apply hover:bg-[var(--light300)] duration-300
}
.bg-hover200 {
  @apply hover:bg-[var(--light200)] duration-300
}
.bg-hover100 {
  @apply hover:bg-[var(--light100)] duration-300
}


.text-dark100 {
  color: var(--dark100);
}
.text-dark200 {
  color: var(--dark200);
}
.text-dark300 {
  color: var(--dark300);
}

.border-light100 {
  @apply border-[var(--light100)];
}
.border-light200 {
  @apply border-[var(--light200)];
}
.border-light300 {
  @apply border-[var(--light300)];
}



.bg-blue{
  @apply bg-blue-600
}

.text-blue{
  @apply text-blue-600
}

.hover-blue{
  @apply bg-blue-600 hover:bg-blue-700 duration-300 text-white
}

.text-blue-hover {
  @apply  hover:text-blue-600 duration-300
}

.bg-red{
  @apply bg-red-600
}

.text-red{
  @apply text-red-600
}

.hover-red{
  @apply bg-red-600 hover:bg-red-700 duration-300 text-white
}


.bg-gonje-gradient {
  background: rgb(2,0,36);
  background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(9,121,86,1) 0%, rgba(7,123,83,1) 0%, rgba(4,154,163,1) 51%, rgba(0,47,107,1) 100%);
}

.bg-gonje-gradient2 {
  background: rgb(45,45,45);
  background: linear-gradient(163deg, rgba(45,45,45,1) 0%, rgba(30,120,98,1) 50%, rgba(9,121,86,1) 100%, rgba(30,108,81,1) 100%);
  
}




/* ===================================== */
/* animations */

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@keyframes slow-appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-slow-appear {
  animation: slow-appear 0.5s ease-out;
}


@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-out;
}


@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(-0%);
  }
}

.animate-slide-down {
  animation: slide-down 0.5s ease-out;
}



@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40%);
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}