.container {
  padding: 0 2rem;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.vendor-signup .inner-wrap {
  display: flex;
  padding: 20px;
  margin: 0;
}

.vendor-signup .inner-wrap .signup-img{
  background-image: url("../assets/signup-right-bg.png");
background-color: #cccccc;
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
border-radius: 20px;
}

.vendor-signup .inner-wrap .signup-img h3 {
  font-size: 27px;
}
.vendor-signup{
  background-image: url("../assets/signup-right-bg.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-color: #fff;
}
.vendor-signup .inner-wrap .top-heading {
  box-shadow: unset;
  padding: 40px 0;
}
.vendor-signup .inner-wrap .top-heading h3 {
  text-align: left;
}
.vendor-signup .inner-wrap .top-heading h3:after{
  left: unset;
  right: unset;
  margin: 5px 0 !important;
}
.vendor-signup .inner-wrap .top-heading h3 {
  text-align: left;
  font-size: 28px;
  font-weight: 600;
letter-spacing: 0.9px;
}

